<template>
  <div class="hello">
    Itt vannak a kategóriák
    <b-row v-for="category in categories" v-bind:key="category.name">
      <b-button :disabled="!category.enabled" v-on:click="categorySelected(category.name)">{{category.name}}</b-button>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'StoryBoard',
  props: {
    categories: {
      required: true,
    },
  },
  methods: {
    categorySelected(category) {
      this.$emit("categorySelected", category);
    },
  },
  created: function() {
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
