<template>
  <div class="hello">
    Itt vannak a zsánerek
    <b-row v-for="genre in genres" v-bind:key="genre">
      <b-button :disabled="selectedGenre === genre" v-on:click="genreSelected(genre)">{{genre}}</b-button>
    </b-row>
    <b-button :disabled="selectedGenre === null" v-on:click="manualSelected">Szeretek szüttyögni</b-button>
    <b-button :disabled="selectedGenre === null" v-on:click="automaticSelected">Szerencsésnek érzem magam</b-button>
  </div>
</template>

<script>
export default {
  name: 'StoryBoard',
  props: {
    genres: {
      required: true,
    },
  },
  data() {
    return {
      selectedGenre: null,
    }
  },
  methods: {
    genreSelected(genre) {
      this.selectedGenre = genre
    },
    manualSelected() {
      this.$emit("genreSelected", this.selectedGenre, "manual");
    },
    automaticSelected() {
      this.$emit("genreSelected", this.selectedGenre, "automatic");
    },
  },
  created: function() {
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
