<template>
  <div class="hello">
    {{prompt}}
    <b-button v-on:click="generateResults()">Új opciók</b-button>
    <b-row v-for="option in randomSelection" v-bind:key="option">
      <b-button v-on:click="addOption(option)">{{option}}</b-button>
    </b-row>
    <b-textarea
      v-model="extendedOption"
      rows="5"
      max-rows="15"
      />
    <b-button :disabled="extendedOption.length === 0" v-on:click="$emit('optionSelected', extendedOption)">OKKÉÉÉ</b-button>
    <b-button v-on:click="$emit('optionSkipped', null)">Kihagyás</b-button>
  </div>
</template>

<script>
const OptionCount = 5

Array.prototype.sample = function(){
  return this[Math.floor(Math.random()*this.length)];
}

export default {
  name: 'StoryBoard',
  props: {
    prompt: {
      required: true,
    },
    options: {
      required: true,
    },
  },
  data() {
    return {
      OptionCount,
      extendedOption: "",
      randomSelection: [],
    }
  },
  methods: {
    optionSelected(option) {
      this.$emit("optionSelected", option);
    },
    generateResults() {
      this.randomSelection = []
      while (this.randomSelection.length < this.OptionCount) {
        const candidate = this.options.sample().sample()
        if (!this.randomSelection.includes(candidate)) {
          this.randomSelection.push(candidate)
        }
      }
      // this.$set(this, 'randomSelection', this.options.sort(() => .5 - Math.random()).slice(0, this.OptionCount))
    },
    addOption(option) {
      if (this.extendedOption.length === 0) {
        this.extendedOption = option
      } else {
        this.extendedOption = this.extendedOption + '\n' + option
      }
    },
  },
  created: function() {
  },
  mounted: function() {
    this.generateResults()
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
