<template>
  <div class="hello">
    Itt a sztori
    <b-textarea
      :disabled="true"
      v-model="finalText"
      rows="5"
      max-rows="20"
    />
  </div>
</template>

<script>
export default {
  name: 'StoryBoard',
  props: {
    elements: {
      required: true,
    },
  },
  computed: {
    finalText() {
      return this.elements.join('\n')
    },
  },
  created: function() {
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
