<template>
  <div id="app">
    <StoryBoard :elements="elements" />
    <GenreSelector :genres="Object.keys(Missionz)" v-if="state === State.Startup" @genreSelected="onGenreSelected" />
    <CategorySelector :categories="categories" v-if="categories !== null" @categorySelected="onCategorySelected" />
    <OptionSelector
      :options="options.options"
      :prompt="options.name"
      v-if="options !== null"
      @optionSelected="onOptionSelected"
      @optionSkipped="onOptionSkipped"
      v-bind:key="options.name"
    />
    <b-button v-on:click="state = State.End" v-if="state !== State.End && state !== State.Startup">Vége</b-button>
  </div>
</template>

<script>
import StoryBoard from './components/StoryBoard.vue'
import GenreSelector from './components/GenreSelector.vue'
import CategorySelector from './components/CategorySelector.vue'
import OptionSelector from './components/OptionSelector.vue'

import Missionz from './components/data.js'

Array.prototype.sample = function(){
  return this[Math.floor(Math.random()*this.length)];
}

const State = Object.freeze({
  Startup: 0,
  MandatoryCategorySelection: 1,
  OptionalCategorySelection: 2,
  MandatoryOptionSelection: 3,
  OptionalOptionSelection: 4,
  End: 5})

export default {
  name: 'App',
  components: {
    StoryBoard,
    GenreSelector,
    CategorySelector,
    OptionSelector,
  },
  watch: {
    // currentAspects: {
    //   handler() {
    //     if (this.gemsAvailable) {
    //       this.adjustGems();
    //     }
    //   },
    //   deep: true,
    // },
  },
  data () {
    return {
      elements: [],
      State,
      state: State.Startup,
      Missionz,
      mission: null,
      category: null,
      categoryIdx: 0,
      mandatoriesUsed: [],
    }
  },
  computed: {
    categories() {
      if (this.mission) {
        if (this.state === State.MandatoryCategorySelection) {
          return this.mission.mandatory.map(category =>  ({
            name: category.name,
            enabled: !(this.mandatoriesUsed.includes(category.name)),
          }))
        } else if (this.state === State.OptionalCategorySelection) {
          return this.mission.optional.map(function(category) {
            return {
              name: category.name,
              enabled: true,
            }
          })
        }
      }
      return null
    },
    options() {
      if (this.mission && (this.state === State.MandatoryOptionSelection || this.state === State.OptionalOptionSelection)) {
        return this.category.questions[this.categoryIdx]
      }
      return null
    },
  },
  methods: {
    recordGenre(genre) {
      this.elements.push(genre)
    },
    recordCategory(category) {
      this.elements.push(" " + category)
    },
    recordQuestion(question) {
      this.elements.push("  " + question)
    },
    recordOptions(options) {
      this.elements.push(options.map(option => "   " + option).join('\n'))
    },
    onGenreSelected(genre, method) {
      this.recordGenre(genre)
      this.mission = Missionz[genre]
      if (method === "manual") {
        if (this.mission.mandatory.length === 0) {
          this.state = State.OptionalCategorySelection
        } else {
          this.state = State.MandatoryCategorySelection
        }
      } else {
        const pickCategory = function(category, self) {
          self.recordCategory(category.name)
          for (let idx = 0; idx < category.questions.length; idx++) {
            const question = category.questions[idx]
            self.recordQuestion(question.name)
            self.recordOptions([question.options.sample().sample()])
          }
        }
        for (let i = 0; i < this.mission.mandatory.length; i++) {
          const category = this.mission.mandatory[i]
          pickCategory(category, this)
        }
        for (let i = 0; i < this.mission.optional.length; i++) {
          const category = this.mission.optional[i]
          const amount = Math.floor(Math.random() * (category.recommended[1] - category.recommended[0] + 1)) + category.recommended[0]
          for (let j = 0; j < amount; j++) {
            pickCategory(category, this)
          }
        }
        this.state = State.End
      }
    },
    onCategorySelected(category) {
      this.categoryIdx = 0
      if (this.state === State.MandatoryCategorySelection) {
        this.category = this.mission.mandatory.filter(cat => cat.name === category)[0]
        this.state = State.MandatoryOptionSelection
      } else {
        this.category = this.mission.optional.filter(cat => cat.name === category)[0]
        this.state = State.OptionalOptionSelection
      }
      this.recordCategory(category)
    },
    onOptionSelected(option) {
      if (option !== null) {
        this.recordQuestion(this.options.name)
        this.recordOptions(option.split('\n'))
      }
      this.categoryIdx += 1
      if (this.categoryIdx === this.category.questions.length) {
        this.mandatoriesUsed.push(this.category.name)
        if (this.state === State.MandatoryOptionSelection) {
          this.state = State.MandatoryCategorySelection
          if (this.mandatoriesUsed.length === this.mission.mandatory.length) {
            this.state = State.OptionalCategorySelection
          }
        } else {
          this.state = State.OptionalCategorySelection
        }
      }
    },
    onOptionSkipped() {
      this.onOptionSelected(null)
    },
  },
  created: function() {
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
